{{>_partial/header}}
{{>_partial/navbar}}

<main class="container">
    <h2>Daftar Pesanan Anda</h2>
    <div class="order-list">
        {{#orderList}}
        <div class="order-item">
            <div class="order-detail">
                <table class="table">
                    <tr>
                        <td>Jumlah pax</td>
                        <td>Status</td>
                        <td>Nomor order</td>
                    </tr>
                    <tr>
                        <td>{{quantities}}</td>
                        <td>{{plainTextStatus}}</td>
                        <td>{{id}}</td>
                    </tr>
                </table>
            </div>
            <div class="order-product-detail">
                <p>Detail pesanan</p>
                <table class="table">
                    <tr>
                        <th>Nama produk</th>
                        <th>Harga satuan</th>
                        <th>Subtotal</th>
                    </tr>
                    {{#orderDetails}}
                    <tr>
                        <td>{{product.name}}</td>
                        <td class="rupiah">{{product.price}}</td>
                        <td class="rupiah">{{price}}</td>
                    </tr>
                    {{/orderDetails}}

                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>Nego Terakhir</td>
                    <td class="rupiah">{{hargaNego}}</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>Banyak Nego tersisa</td>
                    <td>{{banyakNego}}</td>
                  </tr>

                </table>
            </div>
            <div class="order-action">
                  {{#isPending}}
                      {{#isCanNego}}
                      <form class="cart-left" method="post" action="/my-umkm/order/{{id}}/nego">
                        <input type="hidden" name="_csrf" value="{{_csrf}}"/>
                        <input type="text" name="nego">
                        <button class="btn btn-secondary" type="submit">Nego Harga</button>
                      </form>
                      {{/isCanNego}}
                      <a href="/my-umkm/order/{{id}}/delete"  class="btn btn-default">Tolak</a>
                      <a href="/my-umkm/order/{{id}}/confirm" class="btn btn-primary">Terima</a>
                  {{/isPending}}

            </div>
        </div>
        {{/orderList}}
    </div>
</main>

{{>_partial/footer}}
