spring.datasource.url= jdbc:postgresql://localhost:5432/simulasi-bisnis
spring.datasource.username=postgres
spring.datasource.password=

spring.jpa.hibernate.ddl-auto=create-drop
blusea.PhotoDir.path=C:\\xampp\\htdocs\\gambar\\
