{{>_partial/header}}
{{>_partial/navbar}}

<main class="container">
    <h2>Daftar Pesanan Anda</h2>
    <div class="order-list">
    {{#orderList}}
        <div class="order-item">
            <div class="order-detail">
                <table class="table">
                    <tr>
                        <td>Jumlah pax</td>
                        <td>Status</td>
                        <td>Nomor order</td>
                    </tr>
                    <tr>
                        <td>{{quantities}}</td>
                        <td>{{plainTextStatus}}</td>
                        <td>{{id}}</td>
                    </tr>
                </table>
            </div>
            <div class="order-product-detail">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Nama produk</th>
                            <th>Harga satuan</th>
                            <th>Subtotal</th>
                        </tr>
                    </thead>
                    <tr>
                        {{#orderDetails}}
                        <tr>
                            <td>{{product.name}}</td>
                            <td class="rupiah">{{product.price}}</td>
                            <td class="rupiah">{{price}}</td>
                        </tr>
                        {{/orderDetails}}

                          <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <td></td>
                            <td>Nego Terakhir</td>
                            <td class="rupiah">{{hargaNego}}</td>
                          </tr>

                    </tbody>
                </table>
            </div>
            <div class="order-action">
                {{#isCart}}
                    <form method="post" action="/my-juragan/order/{{id}}/delete">
                        <input type="hidden" name="_csrf" value="{{_csrf}}"/>
                        <button class="btn btn-danger" type="submit">Hapus belanjaan ini</button>
                    </form>
                    <form class="cart-left" method="post" action="/my-juragan/order/{{id}}/nego">
                        <input type="hidden" name="_csrf" value="{{_csrf}}"/>
                        <input type="text" name="nego">
                        <button class="btn btn-secondary" type="submit">Nego Harga</button>
                    </form>
                    <a class="btn btn-secondary" href="/my-juragan/order/{{id}}/cart">Lihat invoice</a>
                    <form action="/my-juragan/order/{{id}}/confirm" method="POST">
                        <input type="hidden" name="_csrf" value="{{_csrf}}"/>
                        <button class="btn btn-primary" value="submit">Konfirmasi Pembayaran</button>
                    </form>
                {{/isCart}}

                {{#isWaiting}}
                <form class="cart-left" method="post" action="/my-juragan/order/{{id}}/nego">
                  <input type="hidden" name="_csrf" value="{{_csrf}}"/>
                  <input type="text" name="nego">
                  <button class="btn btn-secondary" type="submit">Nego Harga</button>
                </form>
                <a class="btn btn-secondary" href="/my-juragan/order/{{id}}/cart">Lihat invoice</a>
                <form action="/my-juragan/order/{{id}}/confirm" method="POST">
                  <input type="hidden" name="_csrf" value="{{_csrf}}"/>
                  <button class="btn btn-primary" value="submit">Konfirmasi Pembayaran</button>
                </form>
                {{/isWaiting}}
            </div>
        </div>
    {{/orderList}}
    {{^orderList}}
        <h2>Anda belum memiliki pesanan, silahkan melihat-lihat produk yang kami sediakan di <a href="/">sini</a>. </h2>
    {{/orderList}}
    </div>
</main>

{{>_partial/footer}}
